@Model MVCExampledemo.Models.Employee
@{
    ViewData["Title"] = "searchemp";
}

<h1>searchemp</h1>
<table border="1" cellpadding="2" cellspacing="3">
    <tr>
        <th>EmployeeId</th>
        <th>Empname</th>
        <th>EmpSalary</th>
    </tr>
    <tr>
        <td>@Model.EmployeeId</td>
        <td>@Model.EmpName</td>
        <td>@Model.Salary</td>
    </tr>
</table>

